.wrapper {
    position: absolute;
    top: 60px;
    border-radius: .1rem;
    background-color: #f0f1f2;
    box-shadow: 0 1px 12px #000000aa;
    z-index: 105;
    height: fit-content;

    p {
        color: initial;
    }
}