.initial, .disable {
    border-radius: 0.25rem;
    border: 0px;
    min-height: 25px;
    min-width: 100px;
}

.initial {
    cursor: pointer;
    color: #242424;
    background-color: #f0f1f2;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e1e1e1;   
    }
}

.disable {
    position: relative;
    cursor: initial;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #ffffff, $alpha: .4);
        z-index: 100;
    }
}