.rate {
    display: flex;
    align-items: center;
    margin-bottom: 2px;

    font-size: 12.5pt;
    color: #242424;
}

.grade {
    min-width: 25px;
}

.linewrapp {
    display: block;
    height: 8px;
    background-color: #f0f1f2;
    min-width: 192px;
    border-radius: .25rem;
    padding: 0px;
}

.line {
    display: block;
    z-index: 100;
    background-color: #ff6740;
    height: inherit;
    border-radius: inherit;
}

.amount {
    padding-left: 12px;
    font-size: 11pt;
}