.tag_block {
    margin-right: 1rem;
    margin-bottom: 0.7rem;
}

.name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4d4d4d;
    font-size: 14pt;
    font-family: inherit;
    line-height: inherit
}

.tag_elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span {
        cursor: pointer;
        padding: 5px 8px;
        background-color: #f0f1f2;
        color: #242424;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 10pt;
        &:hover {
            background-color: red;
            color: white;
        }
    }
}

.alt_title {
    margin-bottom: 4px;
    border-bottom: 2px solid #f0f1f2;
    display: flex;
    align-items: center;
    width: 100%;
    img {
        width: 24px;
        margin-right: 8px;
    }
}

.alt_title_block {
    width: 100%;
}

@media (max-width: 495px) {
    .name {
        font-size: 12pt;
    }

    .alt_title span {
        font-size: 10pt;   
    }
}

@media (max-width: 290px) {
    .alt_title span {
        font-size: 9pt;
    }
}