.type-sidebar {
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    z-index: 20;
    display: none;
    padding: 15px;
    font-size: 15pt;
    input[type=text] {
        width: 97%;
        font-size: 12pt;
        padding: 5px;
    }
    input[type=button] {
        width: 100%;
        font-size: 12pt;
        margin-top: 15px;
        padding: 7px;
        border-color: transparent;
        border-radius: 2%;
        cursor: pointer;
        &:hover {
            background-color: grey;
        }
    }
    input[type=checkbox] {
        width: 20px;
    }
    height: 80vh;
    overflow: auto;
    overflow-x:hidden;
}

.toggle-typebar {
    width: 90%;
    display: block;
    .select-block {
        display: flex;
        flex-direction: column;
        .select-block-elem {
            display: flex;
        }
    }
}

.back-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    span {
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        border-radius: 2%;
        &:hover {
            background-color: #ececec;
        }
        &:last-child {
            color: grey;
        }
    }
}

.select-block {
    h3 {
        width: 100%;
        color: grey;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

