.wrapp {
    width: 100%;
    height: 90%;
    border: 1px solid transparent;
    position: relative;
    border-radius: 0.19rem;
}

.elems_block {
    position: absolute;
    top: 102%;
    display: none;
    height: 0px;
    transition: 0.2s all ease;
    overflow: hidden;
    width: 100%;
    div {
        width: 100%;
        &:hover {
            background-color: #cfcfcf;
        }
    }
}

.elems_block > div, .wrapp {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.elems_block_active {
    z-index: 1200;
    height: fit-content;
    display: block;
}

.checked {
    border: 1px solid red;
    outline: 0;
    outline-offset: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}