.more {
    background-color: transparent; 
    color: red;
    font-size: 10pt;
}

.red {
    background-color: #ff4040;
}

.orange {
    background-color: #f79421;
}

.red, .orange {
    color: white;
}

.default {
    color: #282828;
    background-color: #f0f1f2;
}

.manga_tags {
    display: flex;
    flex-wrap: wrap;
    span:not(.manga-status-span) {
        display: inline-block;
        border-radius: .25rem;
        font-size: 10pt;
        font-weight: 400;
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 2px;
        display: inline-block;
        line-height: .9375rem;
        text-transform: uppercase;
        font-size: .625rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
}