.wrapp {
    position: relative;
    min-width: 200px;
    min-height: 300px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    
    img {
        width: inherit;
        object-fit: cover;
        border-radius: 0.25rem;
    }
    
    img[data-svg='flag-img'] {
        position: absolute;
        bottom: 0.575rem;
        right: 0.475rem;
        width: 24px;
        height: 24px;
    }
    
    svg[data-svg='explore-ico'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        color: white;
        display: none;
    }
    
    &::before {
        content: '';
        height: 99%;
        width: 100%; 

        position: absolute;
        top: 0px;
        left: 0px;

        background-color: rgba($color: black, $alpha: 0);   
        border-radius: 0.25rem;
        transition: 0.2s all ease;
    }
    
    &:hover {
        &::before {
            background-color: rgba($color: black, $alpha: 0.4);   
            border-radius: 0.25rem;
        }
        svg[data-svg='explore-ico'] {
            display: block;
        }
    }
    
    svg[data-svg='explore-ico'], img[data-svg='flag-img'], &::before {
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .wrapp {
        min-width: inherit;
        min-height: inherit;
        margin-bottom: 5px;
    }
}