.arrow_link_reverse, .arrow_link_block {
    font-weight: 600;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            cursor: pointer;
            color: #242424;
        }

        svg {
            cursor: pointer;
            width: 24px;
            height: 24px;
            color: #242424;
        }

        margin-bottom: 1rem;
    }
}

.arrow_link_reverse {
    div {
        margin-bottom: 0px;
        justify-content: flex-start;
        
        svg {
            transform-origin: center center;
            transform: rotate(180deg);
            margin-right: 20px;
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 340px) {
    .arrow_link_reverse, .arrow_link_block {
        div {
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}