.wrapp {
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 4px;
    margin: 10px 0px;
    min-width: 85%;
    align-items: center;
    justify-content: center;

    div {
        cursor: pointer;
        background-color: #f0f1f2;
        border-radius: 0.25rem;
        min-height: 56px;
        min-width: 32px;
    }
    
    button {
        max-width: 32px;
        padding: 0;
    }
}

.wrapp, .wrapp > div {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 12pt;
    font-weight: bold;
}

.content {
    width: 100%;
}