.loading_wrapp {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.loading_animation_block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    z-index: 100;
    background: rgb(240,241,242);
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 50%,hsla(0,0%,100%,0));
    animation: loading-wrapp 1s cubic-bezier(.4,0,.2,1) 0s infinite alternate forwards;
}

@keyframes loading-wrapp {
    0%{
        transform: translate(0, 0);
    }
    
    100%{
        transform: translate(200%, 0);
    }
}