.logo {
    display: flex;
    align-items: center;
    svg {
        width: 22px;
        height: 22px;
        font-size: 14pt;
        padding: 10px;
        margin-right: 10px;
        margin-top: 2px;
        border-radius: 50%;
        cursor: pointer;
    }
    svg:hover {
        background-color: rgba($color: #ebebeb, $alpha: 0.7);
        transition: 0.6s all ease-in-out;
    }
}

.logo_side_main {
    &:hover {
        h1 {
            color: red;
            transition: 0.4s all;
        }
    }
    svg {
        margin-right: 0px;
        margin-left: 10px;
    }
    svg:hover {
        background-color: rgba($color: #b4b9be, $alpha: 0.4);
    }
}