.chapters {
    height: 100%;
    width: 100%;
}

.controls_block {
    display: flex;
    justify-content: space-between;
}

.content_block {
    padding-top: 15px;
    padding-bottom: 15px;

}

.volume_title {
    display: flex;
    justify-content: space-between;

    p {
        font-size: 14pt;
        color: #4f4f4f;
    }
    
    margin-bottom: 0.5rem;
}

.volume_item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 10px;
    }
}

.side_item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0.875rem;
    
    border-left: 2px solid red;

    position: relative;
    background-color: transparent;

    &::after {
        content: '';
        height: 1px;
        background-color: red;
        width: 10px;
        position: absolute;
        top: 50%;
        left: 0;
    }
}

.last_side_item {
    height: 25%;

    &::after {
        content: '';
        height: 1px;
        background-color: red;
        width: 10px;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.chapters_block {
    background-color: #f0f1f2;
    border-radius: 0.125rem;
    margin-bottom: 5px;

    .title {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }

    .content {
        p, a {
            font-size: 11pt;
        }

        display: grid;
        grid-template-columns: 0.1fr 1fr 1.2fr 1fr 0.6fr;
        
        div:not(.side_item.cnt) {
            padding: 0.2rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            display: flex;
            align-items: center;
        }

        .title {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
        
        border-bottom: 1px solid #e6e6e6;
        border-left: 2px solid rgb(113, 106, 254);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }   
}

.content_wrapp {
    height: 100%;
    display: block;
}

.chapter_name {
    img {
        width: 16px;
        height: 16px;
    }

    p {
        margin-left: 8px;
    }

    p, a {
        font-weight: bold;
    }
}

.user, .timestamp {
    svg, img {
        max-width: 1rem;
        max-height: 1rem;
        color: #4d4d4d;
    }
}

.timestamp {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 640px) {
    .side_item {
        grid-row: span 2;
        border-left: 3px solid red;
        border-color: #4d4d4d;
        
        &::after {
            height: 2.5px;
            left: -2px;
            background-color: #4d4d4d;
        }
    }

    .chapters_block {
        .content {
            grid-template-columns: 0.1fr auto auto;
            grid-template-rows: auto auto;
            justify-content: stretch;
        }
    }
}

@media (max-width: 400px) {
    .chapters_block {
        .content {
            p {
                font-size: 9pt;
            }

            .side_item {
                padding-left: .1rem!important;
                padding-right: 0px!important;
            }
        }
    }
}

@media (max-width: 340px) {
    .chapters_block {
        .content {
            p {
                font-size: 8.5pt;
            }

            .side_item {
                padding-left: .1rem!important;
                padding-right: 0px!important;
                margin-left: .5rem;
            }

            .chapter_name, .user {
                padding-right: 0px!important;
            }

        }
    }
}

@media (max-width: 300px) {
    .chapters_block {
        .content {
            p {
                font-size: 8pt;
            }
        }
    }
}

@media (max-width: 290px) {
    .chapters_block {
        .content {
            p {
                font-size: 7pt;
            }

            .side_item {
                padding-left: .1rem!important;
                padding-right: 0px!important;
                margin-left: .4rem;
            }

            .chapter_name, .user {
                padding-right: 0px!important;
            }
        }
    }
}