.slider-window {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: auto;
    display: flex;
}

.slider-item {
    display: flex;
    width: 372px;
    height: 240px;
    margin-right: 20px;
    border-radius: 0.5ch;
    background-color: #f0f1f2;
    &:last-child {
        margin-right: 0;
    }
    position: relative;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    width: auto;
    display: flex;
    span {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.control {
    background-color: #e8e8e8;
}

.active-control {
    background-color: red;
}

@media (max-width: 420px) {
    .slider-item {
        width: 340px;
    }

    .manga-de {
        max-width: 200px!important;
    }

    // .slider-controls {
    //     display: none;
    // }

    // .slider-window {
    //     overflow: scroll;
    // }

    // &::-webkit-scrollbar {
    //     height: 0px;
    // }
}

@media (max-width: 380px) {
    .slider-item {
        width: 320px;
    }

    .manga-de {
        max-width: 180px!important;
    }
}

@media (max-width: 340px) {
    .slider-item {
        width: 300px;
    }

    .manga-de p:first-child {
        font-size: 14pt!important;
    }

    .manga-de p:last-child {
        font-size: 12pt!important;
    }
}

@media (max-width: 320px) {
    .slider-item {
        width: 270px;
    }

    .manga-de {
        max-width: 155px!important;
    }

    .manga-de p:first-child {
        font-size: 14pt!important;
    }

    .manga-de p:last-child {
        font-size: 12pt!important;
    }
}

@media (max-width: 300px) {
    .slider-item {
        width: 250px;
    }

    .manga-de {
        max-width: 135px!important;
    }
}

@media (max-width: 270px) {
    .slider-item {
        width: 230px;
    }

    .manga-de {
        max-width: 120px!important;
    }

    .manga-de p:first-child {
        font-size: 13pt!important;
    }

    .manga-de p:last-child {
        font-size: 11pt!important;
    }
}

@media (max-width: 250px) {
    .slider-item {
        width: 215px;
    }

    .manga-de {
        max-width: 118px!important;
    }
}