.sidebar {
    min-width: 400px;
    width: 100%;
    // ???? wtf
    margin-right: 10px;
    // position: relative;
    position: sticky;
    top: 100px;
    // Высота прибития к верху
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 80vh;
    // Добавить подсчет прокрутки динамически в зависимости от экрана и высоты блока
    overflow: auto;
    overflow-x:hidden;
}

.hide-sidebar {
    overflow: hidden;

}

.choose-selector {
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: fit-content;
    padding: 12px;
    p {
        font-size: 16pt;
        font-weight: bold;
    }
    z-index: 15;
    border-radius: 2%;
    &:hover {
        background-color: rgb(236, 236, 236);
    }
    cursor: pointer;
}

.varible-selector {
    padding: 12px;
    h3 {
        margin-bottom: 8px;
    }
    div {
        display: flex;
        justify-content: space-between;
    }
    input[type=text] {
        padding: 4px;
    }
}

.checkbox-selector {
    padding: 12px;
    h3 {
        margin-bottom: 8px;
    }
}

.checkbox-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        width: 50%;
        display: flex;
        align-items: center;
    }
}