.suggestion-page {
    width: 100%;
    // height: 70vh;
    display: flex;
    justify-content: center;
}

.suggest-content {
    width: 91vw;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 45px;
    height: 100%;
    justify-self: flex-start;
}

.suggest-item {
    width: 100%;
    margin-top: 30px;
}

.suggest-item-content {
    width: 100%;
}

@media (max-width: 340px) {
    .suggest-item {
        margin-top: 10px;
    }
}