.side-chapter-wrapp {
    min-width: 500px;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr;
    gap: 10px;
    margin-right: 10px;
}

.side-menu-color {
    background-color: white;
}

.side-chapter-active {
    left: calc(100vw - 250px - 110px);
}

.side-chapter-disable {
    left: calc(100vw - 250px + 312px);
}

.side-chapter-utils {
    // width: 90%;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        
        width: 2.5rem;
        height: 2.5rem;

        transition: 0.2s all ease-in-out;
        &:hover {
            background-color: #f0f1f2;
            border-radius: 50%;
        }
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    // div {
    //     &:hover {
    //         background-color: #f0f1f2;
    //         border-radius: 50%;
    //     }
    // }
    display: flex;
    justify-content: space-between;
}

.side-chapter-controls {
    display: grid;
    flex-direction: column;
    min-width: 100%;
    // align-items: center;
    // justify-items: center;
}

.side-ch-control-page, .side-ch-control-chapter {
    display: flex;
    flex-direction: row;
}

.sd-ch-links {
    flex-direction: column;
}