.exemplar {
    cursor: pointer; 
    margin: 4px 9px 4px 0px; 
    padding: 2px 7px; 
    background-color: #f0f1f2; 
    border-radius: 12px; 
    font-size: 14pt; 
    width: fit-content;
    transition: background-color 0.2s ease;
    user-select: none;
    border: 1px solid transparent;
}

.include, .any {
    background-color: #ff6740;
    color: white;

    &::before {
        content: '+';
        color: white;
        font-size: 14pt;
        font-weight: 600;
        margin-right: 5px;
        margin-left: 2.5px;
    }
}

.exclude {
    background-color: #f0f1f2;
    border: 1px solid #ff6740;
    
    &::before {
        content: '-';
        color: black;
        font-size: 14pt;
        font-weight: 600;
        margin-right: 5px;
        margin-left: 2.5px;
    }
}

.any {
    background-color: rgba($color: #ff6740, $alpha: 0.8);
    cursor: auto;
}

@media (max-width: 600px) {
    .exemplar {
        font-size: 12pt!important;
    }
}

@media (max-width: 370px) {
    .exemplar {
        font-size: 10pt!important;
    }

    .any {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 300px) {
    .exemplar {
        font-size: 9pt!important;
    }
}