.manga-img {
    width: 93px;
    overflow: hidden;
    border-top-left-radius: 0.5ch;
    border-bottom-left-radius: 0.5ch;
    img {
        width: 220px;
        left: -20px;
        user-select: none;
        pointer-events: none;
    }
}

.manga-de {
    padding: 1rem;
    max-width: 200px;
    p:first-child {
        font-size: 15pt;
        color: #242424;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p:last-child {
        font-size: 13pt;
    }
}

.manga-img-var2 {
    position: relative;
    width: 128px;
    height: 180px;
    img {
        width: 128px;
        height: 180px;
        border-radius: 0.25rem;
    }
    .flag-img-var2 {
        position: absolute;
        bottom: 0.375rem;
        right: 0.5rem;
        width: 24px;
        height: 24px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.manga-de-var2 {
    p {
        font-size: 12pt;
        color: #242424;
    }
}