.manga-page {
    display: grid;
    align-items: flex-start;
}

.manga-cover-cl {
    z-index: 105; 
    grid-area: manga-cover; 
    margin: 10px; 
    align-self: flex-start; 
    width: 200px;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 17.5rem;
    right: 10px;
    width: 100%;
    background-size: cover;
    background-position: center 25%;
    z-index: 101;
    background-repeat: no-repeat;
    
    &::after {
        z-index: 105;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.7);
        backdrop-filter: blur(3.5px);
    }
}

.manga-container {
    display: grid;
    max-width: 95%;
    justify-self: center;
    gap: 10px;
    grid-template-areas: 
        'manga-cover manga-title'
        'manga-cover introduction'
        'synopsis synopsis'
        'content content';
    grid-template-columns: 1fr 6fr;
}

.manga-title {
    padding: 10px;
    height: 12.4rem;
    margin-bottom: 16px;
    padding-bottom: 0px;
    grid-area: manga-title;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    .manga-statistics {
        display: none;
    }
    
    p {
        color: white;
    }
    
    .main-title {
        font-size: 4.5rem;
    }

    .second-title {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .main-sub-title {
        display: none;
    }

    .sub-title {
        font-size: 1.2rem;
    }
}

.manga-cover {
    margin: 10px;
    grid-area: manga-cover;
    max-width: fit-content;
    max-height: fit-content;
    align-self: flex-start;
}

.introduction {
    padding: 10px;
    padding-top: 7px;
    grid-area: introduction;
    align-self: flex-start;
    position: relative;

    button {
        border: 0;
        cursor: pointer;
        border-radius: 0.25rem;
        margin-right: 8px;
        font-size: 12pt;
        color: white;
        font-weight: bold;

        &:last-child {
            margin-right: 0;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .butt-with-ico {
            margin-left: 16px;
        }
    }

    button:not(.add-button) {
        background-color: #f0f1f2;
        color: black;
    }

    .add-button {
        width: 220px;
        height: 48px;
        background-color: #ff6740;

        svg {
            display: none;
        }
    }

    .read-button {
        width: 174px;
        height: 48px;
    }

    .report-button, .share-button, .hide-button {
        width: 48px;
        height: 48px;
    }

    .hide-button {
        display: none;
    }

    .buttons_wrapp {
        display: flex;
        align-items: center;
    }
}

.manga-tags {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

    span:not(.manga-status-span) {
        display: inline-block;
        border-radius: .25rem;
        font-size: 10pt;
        font-weight: 400;
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 2px;
        display: inline-block;
        line-height: .9375rem;
        text-transform: uppercase;
        font-size: .625rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.synopsis {
    padding: 10px;
    margin-top: 30px;
    grid-area: synopsis;
}

.content {
    padding: 10px;
    grid-area: content;

    .selectors {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #f0f1f2;
        padding: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 2px;

        span {
            color: #808080;
            border-radius: 2px;
            font-size: 15pt;
            font-weight: bold;
            min-height: 32px;
            margin-right: 15px;

            &:last-child{
                margin-right: 0;
            }

            padding: 4px 8px 4px 8px;
            cursor: pointer;
            position: relative;
            transition: all .5s cubic-bezier(.2,.6,.1,1.2),color .2s cubic-bezier(.2,.6,.1,1.2);
            opacity: 0.4;
        }

        span.active {
            color: white;
            background-color: #242424;
            opacity: 1;
        }
    }
}

.manga-statistics {
    position: absolute;
    margin-top: 15px;
    margin-bottom: 15px;

    &, div {
        display: flex;
        align-items: center;
    }

    div {
        margin-right: 7px;
        
        img, svg {
            width: 1em;
            margin-right: 4px;
        }

        p {
            font-size: 1rem;
        }
    }
    
    .seen {
        color: rgba($color: #242424, $alpha: 0.4);
    }
    
    .rating {
        color: #ff6740;
    }

    .follows {
        color: #494949
    }
}

.manga-var-status {
    display: flex; 
    align-items: center; 
    margin-top: 15px;
}

@media (max-width: 1250px) {
    .introduction .read-button, .introduction .report-button, .introduction .share-button {
        display: none;
    }

    .introduction .hide-button {
        display: block;
    }
}

@media (max-width: 970px) {
    .manga-title .main-title {
        font-size: 4rem;
    }
}

@media (max-width: 900px) {
    .manga-title .main-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 710px) {
    .manga-title .main-title {
        font-size: 3rem;
    }
}

@media (max-width: 640px) {
    .manga-container {
        grid-template-areas:
            'manga-cover manga-title'
            'introduction introduction'
            'synopsis synopsis'
            'content content';
        gap: 0px;
        // grid-template-columns: auto;
    }

    .manga-title div p {
        color: black;
    }

    .sub-title {
        display: none;
    }

    .manga-title {
        height: auto;
    }

    .manga-title .main-sub-title {
        display: block;
    }

    .manga-title .second-title {
        font-size: 1.1rem;
    }

    .manga-title .sub-title {
        font-size: .9rem;
    }

    .manga-title .main-title {
        font-size: 1.8rem;
        font-weight: 550;
        padding-bottom: 2px;
    }

    .manga-cover-cl {
        width: 100px;
    }

    .manga-statistics {
        display: none;
    }

    .manga-title .manga-statistics {
        display: flex;
    }

    .introduction {
        display: flex;
        gap: 7px;
        flex-direction: column-reverse;
    }

    .manga-title {
        margin-bottom: 5px;
    }

    .banner-image {
        height: 12rem;

        &::after {
            background: linear-gradient(180deg, #00000054 0, #ffffff);
            backdrop-filter: initial;
        }
    }

    .manga-statistics {
        position: relative;
        margin: 0px;
    }

    .manga-title_wrapp {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .manga-var-status {
        margin-top: 0px;
    }

    .introduction .read-button, .introduction .add-button, .introduction .hide-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
    }

    .introduction .add-button {
        p {
            display: none;
        }

        svg {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .introduction .read-button {
        width: 100%;
        order: 2;
    }

    .introduction .hide-button {
        order: 1;
        margin-right: 8px!important;
    }

    .synopsis {
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    .manga-var-status {
        flex-direction: column;
    }

    .manga-status-block {
        margin-top: 5px;
    }

    .more-info {
        div {
            max-width: 450px;
        }
    }
}

@media (max-width: 375px) {
    .more-info {
        div {
            max-width: 325px;
        }
    }
}

@media (max-width: 340px) {
    .more-info {
        div {
            max-width: 290px;
        }
    }
}

@media (max-width: 320px) {
    .manga-title .main-title {
        font-size: 1.5rem;
    }

    .selectors {
        padding-bottom: 0px;

        span {
            font-size: 12.5pt!important;
        }
    }
}

@media (max-width: 300px) {
    .synopsis {
        max-width: 250px;

        p {
            font-size: 10pt;
        }
    }
}